<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>studentview</title>
</head>
<body>
<center>
<h2>"Nothing is pleasanter than exploring a library." </h2>
<table border="1">
    <tr>
        <td>Book_Name</td>
        <td>Author-Name</td>
        <td>Book-price</td>
        <td>Book-Location</td>
    </tr>
    {% for item in bookobj %}
     <tr>
        <td>{{item.bookname}}</td>
        <td>{{item.Authorname}}</td>
        <td>{{item.bookprice}}</td>
         <td>{{item.booklocation}}</td>
    </tr>
    {%endfor%}
</table>
</center>
</body>
</html>